@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-shadow {
  text-shadow:
    1px 1px 0 black,
    -2px 2px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
}

.text-shadow-main-menu {
  text-shadow:
    1px 1px 0 black,
    -8px 8px 0 black,
    1px -1px 0 black,
    -2px -2px 0 black;
}

.irregular-button {
  clip-path: polygon(0% 0%, 100% 5%, 95% 100%, 5% 95%);
}

.cursor-cross {
  cursor: url('../../public/crosshair.png'), crosshair;
}
